@model MVCStok.Models.Entity.TBL_musteriler

@{
    ViewBag.Title = "MusteriGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Guncelle","Musteri",FormMethod.Post))
            
{
<div class="form-group">
    @Html.LabelFor(m => m.musteriid)
    @Html.TextBoxFor(m => m.musteriid, new { @class = "form-control" })
    <br />
    @Html.LabelFor(m => m.mmusteriad)
    @Html.TextBoxFor(m => m.mmusteriad, new { @class = "form-control" })
    <br />
    @Html.LabelFor(m => m.musterisoyad)
    @Html.TextBoxFor(m => m.musterisoyad, new { @class = "form-control" })

</div>
<div>
    <button class="btn btn-warning">Müşteri Güncelle</button>
</div>        
}
